.singleRestaurant{
     width:370px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 3px #cecece;
    padding:15px 15px;
    margin-bottom:25px;
}
.dFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}